.vs/ProjectSettings.json
.vs/SwissArmyKnife Dashboard/FileContentIndex/484b5566-4611-4c22-a0bd-c9e9d9c9294d.vsidx
.vs/SwissArmyKnife Dashboard/FileContentIndex/read.lock
.vs/SwissArmyKnife Dashboard/v17/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vscode/settings.json
.env
env.js