#greetingHeading{
    margin-top: 0in;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
