.weather-header {
    justify-content: center;
    display: flex;
}

.weather-temperature {
    font-size: 4.5rem;
}

.weather-city {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: right;
}

#weather{
    max-width: fit-content;
    /* text-shadow: 0px 0px 30px #ff00c3; */
    
}

#weatherIcon{
    max-width: fit-content;
}